[Desktop Entry]
Categories=Network;InstantMessaging;Qt;
Comment[en_US]=Official desktop version of Telegram messaging app
Comment=Official desktop version of Telegram messaging app
Exec=/opt/telegram/telegram -- %u
GenericName[en_US]=
GenericName=
Icon=telegram
MimeType=
Name[en_US]=Telegram Desktop
Name=Telegram Desktop
Path=
StartupNotify=true
StartupWMClass=TelegramDesktop
Terminal=false
TerminalOptions=
TryExec=/opt/telegram/telegram
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-Desktop-File-Install-Version=0.22
X-KDE-SubstituteUID=false
X-KDE-Username=
