"*":
  "atom-material-ui":
    colors:
      genAccent: true
      paintCursor: true
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    disabledPackages: [
      "language-gfm"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".pioenvs"
      ".piolibdeps"
      ".clang_complete"
      ".gcc-flags.json"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "seti-classic-syntax"
    ]
  editor:
    fontSize: 15
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "663c62fc-57ff-4ef8-bb24-777587f958d7"
  "file-icons":
    coloured: false
  "git-diff": {}
  "linter-gcc":
    execPath: "/usr/bin/gcc"
  "linter-js-yaml":
    customTags: [
      "!secret"
      "!include_dir_merge_named"
      "!include_dir_merge"
      "!include_dir_named"
      "!include_dir"
      "!include"
      "!include_dir_list"
    ]
  "linter-ui-default":
    panelHeight: 91
    showPanel: true
    useBusySignal: false
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": false
      "highlight-selectedDecorationsZIndex": 0
      linter: false
      linterDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "platformio-ide":
    advanced:
      checkAuthOnStartup: false
      showPlatformIOFiles: true
    showPIOHome: false
  "seti-syntax":
    themeColor: "Green"
  "seti-ui":
    compactView: true
  "tool-bar":
    position: "Left"
    visible: false
  "tree-view": {}
  welcome:
    showOnStartup: false
